* {
    box-sizing: border-box;
}

html {
    background: linear-gradient(55deg, hsl(180, 70%, 85%), hsl(271, 70%, 85%));
    color: #454545;
    font-family: Courier;
} 

body {
    margin: 0;
}  

img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
    margin-top: 10px;
}

img:hover {
    cursor: pointer;
}

.secondImg {
    width: 375px;
    height: 375px;
    border-radius: 5px;
    margin-top: 10px;
}

nav {
    display: flex;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    margin-right: 30px;
}

li {
    padding: 0px 30px;
}

#nav-home {
    margin-right: auto;
    font-size: 32px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #454545;
}

a:hover {
    cursor: pointer;
    color: whitesmoke;
}

h2 {
    padding-top: 45px;
}

.space {
    padding-top: 45px;
}

.space-bottom {
    padding-bottom: 45px;
}

.padding-bottom {
    padding-bottom: 70px;
}

.padding-top {
    padding-top: 7px;
}

.blog-content {
    margin: 0 auto;
    width: 65%;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h3 {
    text-align: left;
    padding: 0px;
    margin-top: 0px;
}

.blog-entry {
    background-color: whitesmoke;
    color: darkslateblue;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: left;
    line-height: 1.5em;
}

section {
    text-align: center;
}

.projects-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.projects-div div {
    width: 45%;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5em;
}

.projects-div div p {
    padding: 5px;
    margin: 0px;
}

.projects-div img {
    width: 70%;
    height: 70%;
}

.projects-div img:hover {
    width: 80%;
    height: 80%;
}

#blog, #homepage, #projects {
    height: 100%;
}

#contacts {
    height: 100vh;
}

@media only screen and (max-device-width: 480px) {
    .projects-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 0px;
    }

    .projects-div div {
        display: flex;
        flex-direction: row;
        width: 90%;
        border-radius: 5px;
        text-align: center;
        margin-top: 20px;
        line-height: 2em;
    }

    .projects-div div img {
        width: 400px;
        height: 400px;
        margin: 20px 30px 0px 50px;
    }

    .projects-div div p {
        padding: 0px 0px 0px 30px; 
        line-height: 2em;
    }

    h2 {
        padding-top: 70px;
        font-size: 2em;
    }

    p {
        font-size: 2em;
    }

    li a {
        font-size: 1.5em;
    }

    img {
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 650px;
        height: 500px;
    }

    .secondImg {
        width: 500px;
        height: 500px;
        border-radius: 5px;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 10px;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        margin: 10px 0px;
    }

    li {
        padding: 0px 10px;
    }

    .blog-content {
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
    }
    
    h3 {
        font-size: 2em;
        text-align: left;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .projects-div div p {
        padding: 5px;
        margin-top: 10px;
    }

    .padding-top {
        padding-top: 20px;
    }

    .padding-bottom {
        padding-bottom: 20px;
    }

    #nav-home {
        font-size: 32px;
        font-weight: bold;
        padding: 0px;
        margin-left: 0px;
        margin-right: 40px;
    }

    #contacts, #homepage {
        height: 100vh;
    }

    #projects, #blog {
        height: 100%;
    }

    #about-me {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-device-width: 800px) {
    .projects-div div {
        width: 100%;
        border-radius: 5px;
        text-align: center;
        line-height: 1.5em;
    }

}